<p-carousel
  [circular]="false"
  [numScroll]="1"
  [numVisible]="1"
  [showIndicators]="true"
  [showNavigators]="false"
  [value]="results"
>
  <ng-template #item let-question>
    <div class="p-4">
      <div class="mb-4 text-xl font-medium text-black">
        {{ question.question }}
      </div>
      <div class="grid grid-cols-2 gap-2">
        <p-button
          *ngFor="let answer of getAllAnswers(question)"
          [label]="answer"
          [outlined]="true"
          styleClass="w-full"
        />
      </div>
    </div>
  </ng-template>
</p-carousel>
